@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-fg: 20, 20, 20;
  --color-bg: 244, 244, 244;
}
body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-fg));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: 244, 244, 244;
    --color-bg: 20, 20, 20;
  }
}

/* transform all except .notprose with 300ms */
*:not(.not-prose) {
  transition: all 300ms ease-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
